# ==========================================
# Configuración Principal de la Aplicación
# ==========================================
INTERFACE=baileys
FLOW_FILE=flow_cfp412.json

# Opciones de Almacenamiento de Leads: csv | google_sheets | composite
LEADS_STORAGE_TYPE=csv

# Opciones de Almacenamiento de Sesión WhatsApp: redis (desarrollo local) | firestore (producción)
AUTH_STORAGE_TYPE=redis

# Configuración de Redis (Desarrollo Local)
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# Configuración de Google Cloud Firestore (Producción)
FIRESTORE_COLLECTION_NAME=whatsapp_auth
GCP_PROJECT_ID=
DATABASE=


# Opciones de Gestión de Logs: file | gcp
LOG_ADAPTER=file
LOG_DIR=./logs

# ==========================================
# Credenciales de Google (Sheets / Firestore)
# ==========================================
GOOGLE_SPREADSHEET_ID=
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=

# Nombres de las pestañas en la hoja de cálculo
GOOGLE_SHEETS_TAB_CONTACTOS=Contactos
GOOGLE_SHEETS_TAB_LISTA_ESPERA=ListaEspera
