auth_info/*.json
node_modules/
data/*.csv
coverage/
dist/
motorDecision/
data/system.log
data/errors.log
cfp412-agente-08fbac2e71d0.json
.env
data/system.log
data/system.log
.gitignore
.env.googlesheet
